<h1 style="margin-bottom: 20px;"> NEW GAME </h1>

<div class="list-container">
<ul class="form-style">
<% @letters.each do |letter| %>
<li> <%= letter.capitalize %> </li>
<% end %>
</ul>
</div>

<h3> What is the longest word you can find? </h3>

<form action="score" method="get" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
   <input type="text" name="word">
  <input type="submit" value="Play!">
</form>
